# ----------------------------------------------------
# Sensitive Files (DO NOT COMMIT)
# ----------------------------------------------------
encrypted_seed.txt

# ----------------------------------------------------
# Python Cache
# ----------------------------------------------------
__pycache__/
*.pyc

# ----------------------------------------------------
# Environment / Secrets
# ----------------------------------------------------
.env

# ----------------------------------------------------
# Editor / IDE Settings
# ----------------------------------------------------
.vscode/
.idea/

# ----------------------------------------------------
# OS System Files
# ----------------------------------------------------
.DS_Store
Thumbs.db
